
<h1>Welcome to the Digital Library!</h1>
<h2>Please Login Below</h2><br>
<form method="POST" action="/login">
<label>Username: </label>
<input type="text" id="username" name="username">

<label>Password: </label>
<input type="password" id="password" name="password">

<input type="submit" id="submit" value="Login"><br>

<br>
<div class="error">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %> 
</div>

</form>