<% if logged_in? %>
<h1>Welcome <%= current_user.username %> to your Virtual Library</h1><br>
<%end%>
<ul>
<h2>Click below to learn more about your favorite book</h2>
<% @books.each do |b| %>
<li>
<a href="/books/<%= b.id %>"><%= b.title %>
</li>
<%end%>
</ul>
<br>
<a href="/books/new"><button>Create New Book</button></a><br><br>

<form method="POST" action='/logout'>
<input type="submit" value="Log Out">
</form>