<p>
<h1>Create a New Book</h1>

<form method="POST" action="/books">

<label>Title: </label>
<input type="text" name="book_title" id="book_title"><br><br>

<label>Author: </label>
<input type="text" name="book_author" id="book_author"><br><br>

<label>Genre: </label>
<input type="text" name="book_genre" id="book_genre"><br><br>

<label>Year Published: </label>
<input type="text" name="book_year_published" id="book_year_published"><br><br>

<input type="submit" id="submit" value="Submit Book">

</form>
</p>