<!DOCTYPE html>

 <html lang="en"> 
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Digital Library</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    
  </head>
  <body>


    <div class="wrapper">

      <div class="navbar">
      <ul>
        <% if !logged_in? %>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
        <%else%>
          <li><a href="/books">Home</a></li>
          <li><a href="/users/<%= current_user.id %>">My Profile</a></li>
          <li><a href="/books/new">Create New Book</a></li>
          <div class="logout">
          <form method="POST" action='/logout'>
          <input type="submit" value="Log Out">
          </form>
          </div>
        <%end%>
        </ul>
      </div>
        <br>

        <a href="/books">
        <img src="https://www.pngfind.com/pngs/b/216-2160526_books-clipart-png.png" alt="book_logo">
        </a><br>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>Digital Library</strong></small>
      </footer>
    </div>
  </body>
</html>
