
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    
    <h2>Welcome to the Digital Library</h2>

    <div class="content">
      <p>Sign up or Login to create and view information for your favorite books.</p>
    </div>
    <br>

    <a class="gif">
        <img src="https://www.hubspot.com/hubfs/Smiling%20Leo%20Perfect%20GIF.gif" alt="homepage_gif">
        </a><br>

  </div>
</div>
