
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    
    <h2>Welcome to the Digital Library</h2>

    <div class="content">
      <p>Sign up or Login to create and view information for your favorite books.</p>
    </div>

  </div>
</div>
